nav {
    color: $clr-white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    transition: all 0.5s ease-in;
    &.alone {
        color: #414A4D;
        background: #fff;
        box-shadow: 0 3px 20px #0008;
        li::after {
            background: #414A4D;
        }
    }
    
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 1em auto 0;
      padding: 0;
      max-width: 500px;
      transition: .5s ease-in
    }
  
    a {
      color: inherit;
      text-decoration: none;
      position: relative;

      &::before{
          content: '';
          display: block;
          height: 5px;
          background: $clr-yellow-light;
          position: absolute;
          top: -.6em;
          left: 0;
          right: 0;
          transform: scale(0,1);
          transition: transform ease-in-out 250ms;

      }
  
      &:hover {
        color: $clr-yellow-light;
      }

      &:hover::before{
          transform: scale(1,1);
      }
    }

}

.nav-background{
    background-color: $background-clr-blue-dark;
    opacity: 1;
    padding-bottom: 1em;
    border-bottom: black 2px solid;
}

  @media (max-width: 450px) {
    nav {
        padding: .5rem 1rem;
        font-size: 15px;
    }
}