// .card {
//     grid-row: 1 / 4;
//     padding: 2em;
//     outline: 2px solid currentColor;
//     outline-offset: -1em;
//     box-shadow: 0 5px .5em rgba(black, .3);
  
//     &--dark {
//       background: $clr-red-light;
//       color: white;
//       margin-right: 2.2em;
  
//       .section__title {
//         color: $clr-yellow-light;
//       }

//       .section__subtitle {
//         color: rgb(59, 59, 59);
//       }
//     }
  
//     &--light {
//       background: white;
//       color: rgb(59, 59, 59);
//       margin-left: 2.2em;

//       .section__title {
//         color: $clr-blue-dark;
//       }

//       .section__subtitle {
//         color: $clr-red-light;
//       }
//     }
  
//     &--start {
//       grid-column: 2 / span 4;
//     }
  
//     &--end {
//       grid-column: 4 / span 4;
//     }
  
//     &__image {
//       z-index: -1;
//       margin-left: 3.2em;
//       grid-row: 2/ 5; 
//       &--start {
//         grid-column: 2 / span 3;
//       }
  
//       &--end {
//         grid-column: 5 / span 3;
//       }
//     }
//   }

//   .back-card__image{
//     grid-row: 2/ 5;
//     grid-column: 1 / span 3;
//     margin-left: 8em;
//   }


.section--mission,
.section--taproom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
    padding: 0;
    overflow: hidden;
}

.section--taproom {
    flex-direction: row-reverse
}

#mission .card {
    transform: translate(12vh, 5vh);
    outline: 2px solid rgb(49, 49, 49);
}

#tours.card{
  transform: translate(-8vh, -5vh);
  outline: 2px solid rgb(49, 49, 49);
}

#mission img,
#tours img{ 
  height: 500px;
  width: auto;
}

.front,
.back {
    box-shadow: 0 0 15px #00000080;
}

.card {
    width: 520px;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    position: relative;

    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 10px;
    //     left: 10px;
    //     right: 10px;
    //     bottom: 10px;
    //     z-index: 0;
    // }
    p {
        margin-bottom: 20px;
    }
}
.card--dark {
    color: white;
    background: $clr-red-light;
    &::after {
        border: 3px dashed #718085;
    }
    .section__title {
        color: $clr-yellow-light;
      }

      .section__subtitle {
        color: rgb(59, 59, 59);
      }
    
}
.card--light {
    background: white;
    &::after {
        border: 3px dashed #414A4D;
    }
    .section__title {
      color: $clr-blue-dark;
    }

    .section__subtitle {
      color: $clr-red-light;
    }
    p {
        color: rgb(59, 59, 59);
    }
}  

// .btn {
//     padding: 6px 20px;
//     font-family: $fw-bold;
//     border-radius: 7px;
//     margin-right: 10px;
//     margin-top: 10px;
//     cursor: pointer;
//     position: relative;
//     z-index: 2;
//     transition: all 100ms ease;
//     top: 0;
//     left: 0;

//     &.btn--light {
//         background: #D5C8C0;
//         color: #414A4D;
//     }
//     &.btn--dark {
//         background: #414A4D;
//         color: #D5C8C0;
//     }
//     &.btn--outline {
//         color: #414A4D;
//         background: transparent;
//         border: 2px solid #414A4D;
//     }
//     &:hover {
//         left: -3px;
//         top: -3px;
//         box-shadow: 2px 5px 2px #0004
//     }
// }


@media (max-width: 1170px) {
  .section--mission,
  .section--taproom {
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      
  }
  #mission .card,
  #taproom .card{
    transform: none;
    margin: 0;
    width: 95%;
    margin-left: .5em;
    margin-bottom: 1em;
  }
  #mission img,
  #taproom img{ 
    height: auto;
    width: 100%;
  }

  #taproom h2{
    font-size: 3.4em;
  }
}


//   @media (max-width: 885px) {
//     .section--mission,
//     .section--taproom {
//         flex-direction: column;
//         align-items: flex-start;
//         text-align: center;
//         margin-left: 1em;
//         margin-right: 0;
//         padding: 1em;
//     }

//     #mission .card{
//       transform: none;
//     }

//     #taproom .card{
//       transform: none;
//     }
    
//     .card {
//         padding: 1.5rem;
//         margin-left: 0;
//     }
//     .back {
//         margin: 2em;
//         width: 100%;
//         align-self: flex-end;
//         position: relative;
//     }
//     // .front {
//     //     margin-top: -40px;
//     //     width: 95%;
//     //     align-self: flex-end;
//     // }
//     img {
//         &.front{
//             object-fit: cover;
//             height: auto;
//             z-index: -1;
//             width: 100%;
//             margin:0;
//         }
//     }
// }
