$clr-pink-light: rgb(224, 88, 202);
$clr-blue-base: rgb(90, 94, 106);
$clr-yellow-light: rgb(238, 228, 96);
$clr-green-light: rgb(62, 235, 57);
$clr-blue-light: rgb(149, 196, 250);
$clr-blue-dark: rgb(23, 55, 160);
$clr-red-light: rgb(233, 27, 89);
$clr-red-dark: rgb(247, 38, 73);
$clr-orange-light: rgb(253, 98, 77);

$clr-white: rgb(240, 240, 240);
$clr-brown-base: #AEA79E;
$clr-brown-light: #D3CDC1;

$background-clr-blue-dark: rgb(29, 32, 48);